
.courses-item .courses-item-text {

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #222222;

}

.courses-marketing-hover__text {
    display: none;
}

.courses-marketing:hover .courses-marketing-default__text {
    display: none;
}

.courses-marketing:hover .courses-marketing-hover__text {
    display: flex;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

}

.courses-marketing:hover {
    background: url('../../../assets/courses/marketing.png') no-repeat center;
    background-size: cover;
}

.courses-programming-hover__text {
    display: none;
}

.courses-programming:hover .courses-programming-default__text {
    display: none;
}

.courses-programming:hover .courses-programming-hover__text {
    display: flex;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

}

.courses-programming:hover {
    background: url('../../../assets/courses/programming.png') no-repeat center;
    background-size: cover;
}

.courses-design-hover__text {
    display: none;
}

.courses-design:hover .courses-design-default__text {
    display: none;
}

.courses-design:hover .courses-design-hover__text {
    display: flex;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

}

.courses-design:hover {
    background: url('../../../assets/courses/design.png') no-repeat center;
    background-size: cover;
}


.courses-item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;
}

.courses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}

.courses-item-small__text {
    display: none;
}


@media screen and (max-width: 940px) {
    .courses-item-small__text {
        display: flex;
    }

    .courses-item {
        padding: 0;
        flex-direction: column;
    }

    .courses-item > .courses-item-text {
        align-self: start;
        margin: 0.5rem 1rem;
    }

    .courses-item > .courses-item-small__text {
        margin: 3rem 1rem 1rem;
        align-self: end;
    }

    .courses-item-small__text {


        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        color: rgba(0, 0, 0, 0.7);

    }

    .courses-design:hover {
        pointer-events: none;
    }

    .courses-programming:hover {
        pointer-events: none;
    }

    .courses-marketing:hover {
        pointer-events: none;
    }

    .courses-item img {
        display: none
    }
}

@media screen and (max-width: 700px) {
    .courses-item > .courses-item-text {
        font-size: 32px;
    }

    .courses-item > .courses-item-small__text {
        font-size: 12px
    }
}



