.abitofmaths_main {
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

.abitofmaths_main-fl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 14rem;
    padding-left: 10rem;
}

.abitofmaths_main-fl-circle {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    font-size: 30px;
    color: #000000;
    text-align: center;
    background: #EEEFF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abitofmaths_main-fl-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 117.5%;

    /* or 56px */

    color: #000000;
}

.abitofmaths_main-sl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.abitofmaths_main-sl-circle {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    font-size: 36px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #7B4DFF;
}

.abitofmaths_main-sl-circle > .title {
    font-size: 75px;
}

.abitofmaths_main-fl-circle > .title {
    font-size: 56px;
    color: #000000;
}
.abitofmaths_main-tl {
    display: flex;
    justify-content: end;
}

.abitofmaths_main-tl-circle {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    font-size: 30px;
    color: #000000;
    text-align: center;
    background: #EEEFF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 14rem;
}

.abitofmaths_main-tl-circle > .title {
    font-size: 56px;
    color: #000000;
}

@media screen and (max-width: 1120px) {
    .abitofmaths_main-fl {
        padding-right: 8rem;
        padding-left: 4rem;
    }
    .abitofmaths_main-fl-circle {
        width: 15rem;
        height: 15rem;
        font-size: 18px;
    }
    .abitofmaths_main-sl-circle {
        width: 22rem;
        height: 22rem;
        font-size: 24px;
    }
    .abitofmaths_main-tl-circle {
        width: 15rem;
        height: 15rem;
        font-size: 18px;
        margin-right: 8rem;
    }
    .abitofmaths_main-fl-circle > .title {
        font-size: 46px;
    }
    .abitofmaths_main-sl-circle > .title {
        font-size: 65px;
    }
    .abitofmaths_main-tl-circle > .title {
        font-size: 46px;
    }
}

@media screen and (max-width: 865px) {
    .abitofmaths_main-fl-text {
        font-size: 36px;
    }
    .abitofmaths_main-fl {
        padding-right: 3rem;
        padding-left: 1rem;
    }
    .abitofmaths_main-fl-circle {
        width: 10rem;
        height: 10rem;
        font-size: 15px;
    }
    .abitofmaths_main-sl-circle {
        width: 17rem;
        height: 17rem;
        font-size: 21px;
    }
    .abitofmaths_main-tl-circle {
        width: 10rem;
        height: 10rem;
        font-size: 15px;
        margin-right: 3rem;
    }
    .abitofmaths_main-fl-circle > .title {
        font-size: 40px;
    }
    .abitofmaths_main-sl-circle > .title {
        font-size: 59px;
    }
    .abitofmaths_main-tl-circle > .title {
        font-size: 40px;
    }
}


@media screen and (max-width: 700px) {
    .abitofmaths_main {
        padding: 4rem 1rem 0;
    }
}

@media screen and (max-width: 550px) {
    .abitofmaths_main {
        padding: 4rem 0.5rem 0;
    }
}

@media screen and (max-width: 475px) {
    .abitofmaths_main-fl-text {
        font-size: 24px;
    }
    .abitofmaths_main-fl {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .abitofmaths_main-fl-circle {
        width: 8rem;
        height: 8rem;
        font-size: 10px;
    }
    .abitofmaths_main-sl-circle {
        width: 13rem;
        height: 13rem;
        font-size: 14px;
    }
    .abitofmaths_main-tl-circle {
        width: 8rem;
        height: 8rem;
        font-size: 10px;
        margin-right: 1rem;
    }
    .abitofmaths_main-fl-circle > .title {
        font-size: 24px;
    }
    .abitofmaths_main-sl-circle > .title {
        font-size: 36px;
    }
    .abitofmaths_main-tl-circle > .title {
        font-size: 24px;
    }
}






