.way {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.way-element {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 117.5%;
    width: 12rem;
    height: 12rem;
    border: 1px solid #000000;
    border-radius: 15rem;
    color: #000000;
    text-align: center;
}

.way-element-black {
    background-color: #222222;
    display: flex;

    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 117.5%;
    width: 12rem;
    height: 12rem;
    border: 1px solid #000000;
    border-radius: 15rem;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1245px) {
    .way {
        padding: 4rem 0.1rem 0;
    }

}

@media screen and (max-width: 860px) {
    .way {
        flex-wrap: wrap;

    }
    .way-element {
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

}