.video {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.video:hover > .video-controller {
    display: flex;
}

.video > .video-controller {
    cursor: pointer;
    z-index: 1;
    display: none;
    position: absolute;
    width: 9rem;
    height: 9rem;
    border-radius: 9rem;


    justify-content: center;
    align-items: center;

    background-color: #fff;
}

.video-controller-stop {
    display: none;
}

.video > .video-controller > p {
    position: relative;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 117.5%;
    color: #000000;
}

.video > video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}