.welcome {
    background: url('../../../assets/mainPage/welcome.png') no-repeat center;

    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-size: cover;
}

.welcome-round-img {
    background: url('../../../assets/mainPage/round.png') no-repeat;
    background-size: 100% 100%;
}

.welcome-text-main {
    margin: 2rem 4rem;
    width: 70%;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 117.5%;
    color: #FFFFFF;
}

.welcome-bottom-content-row {
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
    align-items: end;
    margin-bottom: 3rem;

}

.welcome-bottom-buttons {
    display: flex;
}

.welcome-button-course p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 107%;

    color: #FFFFFF;
}

.welcome-button-course {
    cursor: pointer;
    padding: 1rem 2rem;
    display: flex;
    white-space: nowrap;
    margin: 0 1rem 0 4rem;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    border-radius: 16px;
}

.welcome-button-video p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 107%;

    color: #000000;
}

.welcome-buttons-under {
    display: none;
}

.welcome-text-container-small {
    display: none;
}


.welcome-under-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 117.5%;
    /* or 47px */

    text-align: right;

    color: #000000;
}

.welcome-under-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-under-text-about__us img {
    transform: rotate(45deg);
    max-width: 25px;
    max-height: 25px;
}

.welcome-under-text-about__us {
    align-self: start;
    text-align: start;
}

.welcome-under-text-dont__worry {
    align-self: end;
    margin-top: 3rem;
}

.welcome-button-video {
    cursor: pointer;
    padding: 1rem 2rem;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 16px;
    display: flex;
    white-space: nowrap;
    margin: 0 1rem 0 0;
    justify-content: center;
    align-items: center;
}

.welcome-arrowRight-img {
    width: 14px;
    height: 8px;
    margin-left: 0.5rem
}

.welcome-play-img {
    width: 20px;
    height: 18px;
    margin-right: 0.5rem;
}

.welcome-bottom-info {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

.welcome-bottom-info > .info-content {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 107%;
    /* or 17px */


    color: #E9E9E9;
}

.welcome-bottom-info > .info-people {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 117.5%;
    /* or 75px */


    color: #E9E9E9;
}

@media screen and (max-width: 1250px) {
    .welcome-bottom-buttons {
        flex-direction: column;
        align-items: center;
    }

    .welcome-under-text {
        font-size: 32px;
    }

    .welcome-button-video {
        margin: 1rem 0 0 3rem;
    }
}

@media screen and (max-width: 940px) {
    .welcome-under-text {
        display: none;
    }

    .welcome-text-main {
        display: none;

    }

    .welcome {
        background-position: center;
    }

    .welcome-text-container-small {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 16rem;
        white-space: nowrap;
    }

    .welcome-text-container-small p {

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 117.5%;

        color: #FFFFFF;

    }

    .welcome-bottom-content-row {
        display: none
    }

    .welcome-bottom-buttons {
        display: flex;
    }

    .welcome-button-video {

        cursor: pointer;
        background: #FFFFFF;
        padding: 1rem 0;
        margin: 1rem 0 0 0;
        border: 2px solid #000000;
        border-radius: 16px;
        display: flex;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
    }

    .welcome-button-course {
        padding: 1rem 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        border-radius: 16px;
    }

    .welcome-buttons-under {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 4rem 0
    }

}

@media screen and (max-width: 700px) {
    .welcome-buttons-under {
        padding: 2rem 2rem 0;
    }

}

@media screen and (max-width: 550px) {
    .welcome-buttons-under {
        padding: 1rem 1rem 0;
    }

}


@media screen and (max-width: 450px) {
    .welcome-text-container-small p {
        font-size: 36px;
    }
}

@media screen and (max-width: 320px) {
    .welcome-text-container-small p {
        font-size: 24px;
    }
}