.graduate {
    display: flex;
    padding: 2rem;
    flex-direction: row;
}

.graduate-photo > img {
    width: 30rem;
    height: 30rem;
}

.graduate-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.graduate-info-star {
    width: 60px;
}

.graduate-info-star {
    padding-left: 12rem;

}

.graduate-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 117.5%;
    height: 70%;
}

@media screen and (max-width: 1000px) {
    .graduate-info-star {
        padding-left: 6rem;
    }
}

@media screen and (max-width: 870px) {
    .graduate {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 820px) {
    .graduate {
        padding: 2rem 0.1rem;
    }
}

@media screen and (max-width: 800px) {
    .graduate {
        flex-direction: column;
    }
    .graduate-photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .graduate-info-text {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .graduate-info-star {
        padding-left: 4rem;
        padding-top: 2rem;
    }
}