.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    padding: 2rem 6rem;
    font: var(--font-family);
}

.navbar-container-small {
    display: none;
}

.navbar-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-center p {
    margin: 0 1rem;
    white-space: nowrap;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 116%;
    color: #3C3C3C;
}

.navbar-start-img,
.navbar-start-img img {
    width: 141px;
    height: 21px;
}

.navbar-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.navbar-end button {
    margin: 0 1rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    padding: 0.3rem 1.7rem;
    border: 1px solid #3C3C3C;
    border-radius: 32px;
    cursor: pointer;
}

.navbar-menu-small {
    display: none;
}

.arrow-button {

    display: flex;
    align-items: center;
}

.arrow-button img {
    margin-left: 0.4rem;
    padding-top: 0.3rem
}


@media screen and (max-width: 1200px) {
    .navbar-center p {
        font-size: 14px;
    }

    .navbar-start-img,
    .navbar-start-img img {
        width: 135px;
        height: 20px;
    }

    .navbar-end button {
        font-size: 13px;
    }

    .navbar-container {
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 930px) {

    .navbar-menu-small-container__difficulty-content {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navbar-menu-small-container__difficulty-content > div {
        margin: 0.3rem 1.5rem;
    }

    .navbar-menu-small-container__difficulty-content > .difficulty-content-item > p {
        margin-left: 0.3rem;
    }

    .navbar-menu-small-container__buttons {
        display: flex
    }

    .navbar-container {
        display: none;
    }

    .navbar-container-small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0.5rem;
        padding: 2rem 2rem;
        font: var(--font-family);
        border-radius: 1rem;
    }

    .navbar-end img {
        cursor: pointer;
    }

    .navbar-menu-small {
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #222222;
        height: 100%;
        width: 100vw;
    }

    .navbar-menu-small-container {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 3rem 1.5rem;
    }

    .navbar-menu-small-buttons p {
        margin: 0 3rem;
    }

    .navbar-menu-small-container__content p {


        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #FFFFFF;
    }

    .navbar-menu-small-container__content {
        display: flex;
        position: relative;
        justify-content: center;
    }


    .navbar-menu-small-container__difficulty > .muted {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        display: flex;
        align-items: center;

        color: rgba(255, 255, 255, 0.5);
    }

    .navbar-menu-small-container__difficulty {
        display: flex;
        justify-content: flex-start;
        margin: 2rem 0;
        flex-direction: column;
        margin-left: 3rem;
    }


}

@media screen and (max-width: 600px) {
    .navbar-menu-small-buttons p {
        margin: 0 1rem;
    }

    .navbar-menu-small-container__difficulty {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 400px) {

    .navbar-container-small {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 300px) {
    .navbar-menu-small-container__content {
        flex-wrap: wrap;
        padding: 0.5rem;
    }

    .navbar-menu-small-container__buttons {
        flex-wrap: wrap;
    }

    .navbar-menu-small-container__content > div > .navbar-menu-small-buttons > p {

        margin: 0.5rem
    }
}

@media screen and (max-width: 250px) {


    .navbar-end {
        margin: 1rem
    }

    .navbar-container-small {
        padding: 2rem 0;
        flex-direction: column;

    }


}


