.coollerning_main {
    display: flex;
    padding: 2rem;
    flex-direction: column;
}


.coollerning_main-title > img {
    width: 30rem;
    align-self: end;
}

.coollerning_main-mobile {
    display: none;
}

.coollerning_main-title {
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: end;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 117.5%;

    text-align: right;

    color: #000000;
}

.coollerning_main_scrollbar {
    height: 10rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.coollerning_main_scrollbar img {
    width: 15rem;
    height: 10rem;
    margin-right: 2rem;
}

.coollerning_main-photoandinfo > .info > .button {
    background-color: #222222;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    text-align: center;
    align-items: start;
    margin-right: 4rem;
    cursor: pointer;
    align-self: center;
}

.coollerning_main-photoandinfo > .photo {
    position: relative;
}

.coollerning_main-photoandinfo > .photo > .title {
    position: absolute;
    top: 3rem;
    left: 2rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 117.5%;

    color: white;

}

.coollerning_main-photoandinfo > .photo > .description {
    position: absolute;
    top: 55%;
    right: 1rem;
    flex-direction: column;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 117.5%;
    width: 55%;

    color: white;
}

.coollerning_main-photoandinfo > .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 117.5%;
    color: #FFFFFF;
    padding: 4rem;
    border-radius: 1rem;
}

.coollerning_main-photoandinfo {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.coollerning_main-slider {
    padding-left: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 1290px) {
    .coollerning_main {
        padding: 4rem 1rem 0;
    }
}

@media screen and (max-width: 1265px) {
    .coollerning_main {
        padding: 4rem 0.5rem 0;
    }
}

@media screen and (max-width: 1245px) {
    .coollerning_main {
        padding: 4rem 0.1rem 0;
    }

    .coollerning_main-photoandinfo > .info {
        font-size: 16px;
    }

    .coollerning_main-photoandinfo > img {
        width: 65%;
    }
}

@media screen and (max-width: 1210px) {
    .coollerning_main {
        display: none;
    }

    .coollerning_main-mobile {
        display: flex;
        flex-direction: column;
    }


    .coollerning_main-title > img {
        width: 23rem;
        align-self: start;
    }

    .coollerning_main-title {
        display: flex;
        justify-content: start;
        text-align: start;
        font-size: 54px;

        color: #000000;
    }

    .coollerning_main-mobile-scroller {
        margin-top: 2rem;
        height: 29rem;
    }

    .coollerning_main-mobile-scroller img {
        height: 30rem;
        max-width: 26rem;
        border-radius: 1rem;
        margin: 0 1rem;
    }

    .coollerning_main-mobile-scroller-item {
        position: relative;
        display: inline-block;
    }

    .coollerning_main-mobile-scroller-title {
        position: absolute;
        top: 0.5rem;
        left: 2rem;
        display: flex;
        flex-direction: column;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 37px;
        line-height: 117.5%;

        color: white;
    }

    .coollerning_main-mobile-scroller-description {
        position: absolute;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        flex-direction: column;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 117.5%;
        top: 35%;
        width: 85%;

        color: white;
    }
}






