@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


:root {
    --font-family: 'Gilroy';
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
    --color-background: #fff;
}

a {
    color: unset;
    text-decoration: none;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--color-background);
    cursor: default;
}

.bg-black {
    background-color: #222222;
}

.bg-white {
    background-color: #fff;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.section__padding {
    padding: 4rem 4rem 0 4rem;
}

.section__margin {
    margin: 4rem 4rem 0;
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem 2rem 0;
    }

    .section__margin {
        margin: 4rem 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 1rem 0;
    }

    .section__margin {
        margin: 4rem 1rem 0;
    }
}